body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
}

.toggle {
  text-align: center;
  margin-top: 20px;
}

.singles-btn {
  background-color: #1db954;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.singles-btn:hover {
  background-color: #169944;
}

.API {
  text-align: center;
  margin-top: 20px;
}

.list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 20px; /* Gap between items */
}

.grid-item {
  width: calc(25% - 20px); /* Calculate width to ensure even distribution */
  box-sizing: border-box;
}

.card {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #ccc; /* Add borders to the cards */
  padding: 10px; /* Add padding to the cards */
}

.card-img-top {
  object-fit: cover;
  width: 100%;
}

.card-body {
  height: 120px;
  overflow: hidden;
}

.btn-primary {
  margin-top: -20px;
}

header h1 {
  display: flex;
  align-items: center;
  text-align: center;
}

.first-section img {
  width: 100%;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  font-family: Arial, sans-serif;
}

.first-section button {
  position: absolute;
  top: 60%;
  left: 46%;
  text-align: center;
}
