body {
    background-image: url('images/vinyl.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
  }

  #content-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .navbar-container {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .nav-item {
    margin-right: 10px; 
  }

  .nav-form {
    display: flex;
    align-items: center;
  }

  .nav-form input {
    width: 70%; 
    padding: 10px;
    margin-right: 10px; 
    border: 1px solid #ced4da;
    border-radius: 5px;
  }

  .nav-form button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }


  .form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    margin-top: 50px;
  }

  ul.nav {
    display: flex;
    justify-content: flex-end; 
    margin: 0;
    padding: 0;
  }

  li.nav-item {
    list-style: none;
    margin-left: 15px;
  }

  form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
  }

  form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
