body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

.first-section {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 100%;
  height: 80%;
}

#second-animation-player {
  margin-top: 170px;
}
.hide {
  display: none;
}

.toggle {
  text-align: center;
  margin-top: 20px;
}

.singles-btn {
  background-color: #1db954;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.singles-btn:hover {
  background-color: #169944;
}

.API {
  text-align: center;
  margin-top: 20px;
}

.list {
  list-style-type: none;
  padding: 0;
  grid-template-columns: repeat(4, 1fr) !important;
  display: grid !important;
  gap: 20px !important; /* Gap between items */
}

.grid-item {
  width: calc(25% - 20px) !important;
  box-sizing: border-box;
}

.card {
  position: relative !important;
  box-sizing: border-box !important;
  width: 100% !important;
  padding: 10px !important;
  border: 5px solid sienna !important;
}

.card-title {
  color: white !important;
}
.card-text {
  color: white !important;
  margin-bottom: 1.5rem !important;
}

.card-img-top {
  object-fit: cover !important;
  width: 100% !important;
}

.card-body {
  height: 120px !important;
  overflow: hidden !important;
  background-color: black !important;
  height: auto !important;
}

.add-to-cart-button {
  position: absolute !important; /* Position button*/
  bottom: 10px !important;
  left: 50% !important; /* Position horizontally centered */
  transform: translateX(-50%) !important; /* Center button horizontally */
}

header h1 {
  display: flex;
  align-items: center;
  text-align: center;
}

.first-section img {
  width: 100%;
}

.first-section button {
  position: absolute;
  top: 60%;
  left: 46%;
  text-align: center;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  font-family: Arial, sans-serif;
  animation: slideIn 0.5s ease forwards;
  opacity: 0;
}

@keyframes slideIn {
  from {
    transform: translate(-50%, -100%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
