#product-details-container {
  display: flex;
  align-items: center;
}

#product-image-container {
  flex: 1;
}

#product-image {
  max-width: 100%;
}

.product-details {
  flex: 1;
  padding: 20px;
}

#product-title {
  font-size: 24px;
  margin-bottom: 10px;
}

#product-description {
  margin-bottom: 10px;
}

#product-price {
  margin-bottom: 10px;
}

#add-to-cart-btn {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

#add-to-cart-btn:hover {
  background-color: #45a049;
}
